
        <p>
            My name is Marek Kiejza. I am originally from Poland but I have lived in Ireland for the past 12 years. I worked in Tesco as a Security Guard for 7 years and 3 years as Night Porter in “The Landmark” hotel, Carrick-on-Shannon. I attended Technical School in Poland.  In Ireland I undertook a QQI Level 5 Computers Applications for the Workplace course and received a Level 5 Major Award with Distinction.
            At the moment I'm doing a Level 7 Software Development Course in the Institute of Technology Sligo.  
            I have always been interested in working in the IT sector, and as I now have the opportunity I recognise that undertaking a BSc in Computing will offer me a direct path to fulfilling this goal. My goal is to use an IT degree to gain employment in Ireland.
          </p>
                 